.productCardContainer {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 2rem;
  cursor: pointer;
  padding: 1em;
  border-style: solid;
}

.productCardButtonContainer {
  display: flex;
}

.productCardIcon {
  margin: 0.25rem;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  background-color: black;
  margin-left: auto;
}

.productCardIcon:hover {
  background-color: #1B89FA;
}

.img {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.productCardContent h3, .productCardContent p {
  margin: 0;
}

.productCardTypesContainer {
  display: flex;
}

.productCardTypeText {
  margin: 0.5em 0.5em;
}

@media only screen and (max-width: 700px) {
  .productCardContainer {
    width: 80%;
    margin: 2rem 0;
    align-self: center;
  }
}
