.homePageTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

.homePageTop h1 {
  font-size: 5rem;
  margin-bottom: 0;
}

.homePageTop h3 {
  font-size: 2rem;
  margin: 0;
}