.textImgSplit {
  display: flex;
}

.textImgSplit div {
  width: 50%;
  display: flex;
  margin: 0 1rem;
  flex-direction: column;
}

.textImgSplit div h2 {
  align-self: center;
}

.textImgSplit div p {
  font-size: 1.25rem;
}

.textImgSplit img {
  max-width: 50%;
  margin-left: auto;
}

@media only screen and (max-width: 700px) {
  .textImgSplit div {
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
  }
  
  .textImgSplit img {
    max-width: 100%;
    margin-left: auto;
  }
}