@font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto'), url(../fonts/Roboto/Roboto-Regular.ttf) format('ttf');
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  flex: 1;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  flex: 1;
}

a, p, h1, h2, h3, h4, h5, h6, div, button {
  font-family: 'Roboto', sans-serif;
}

.homePage {
  margin: 20px;
}

* {
  transition: 200ms;
}

.productsContainer {
  display: flex;
}

@media only screen and (max-width: 700px) {
  .productsContainer {
    flex-direction: column;
  }
}