.itemInfoContainer {
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
}

.itemTextContainer {
  display: flex;
  flex-direction: column;
}

.itemTextContainer p {
  margin-top: 2px;
}

.itemTextContainer h3 {
  margin-bottom: 2px;
}