.iconContainer {
  display: flex;
  margin-top: auto;
}

.adminIcon {
  margin: 0.25rem;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  background-color: black;
}

.edit {
  margin-left: auto!important;
}

.edit:hover {
  background-color: #1B89FA;
}