.sliderContainer {
  max-width: 100%;
  margin: 2rem;
  display: flex;
  flex: 1;
}

.slideImg {
  width: 100%;
}

.arrow {
  position: absolute;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  width: unset;
  align-self: center;
}

.right {
  justify-self: flex-end;
}