.header {
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0 1em;
  width: 100%;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.homeBtn {
  height: 2rem;
  cursor: pointer;
}

.header a {
  margin: 0.5rem;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}